/* Buttons are from https://codepen.io/davidelrizzo/pen/vEYvyv */

/* Shared */

#fbCont, #googleCont{
  justify-content: center;
  display: flex;
}

.approvedBlock{
  display: block;
  left: 2%;
  margin-top: 200px;
  padding: 100px 60px 100px;
  position: absolute;
  z-index: 21;
  background: #f8f8f8;
  border: 2px solid #c9c9c999;
  border-radius: 5px;
}

.approvedBlockText{
  font-size: 1.5em;
}

.loginWrapShow{
  display: block;
  left: 2%;
  margin-top: 200px;
  padding: 200px 60px 200px;
  position: absolute;
  z-index: 21;
  background: #f8f8f8;
  border: 2px solid #c9c9c999;
  border-radius: 5px;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: center;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  width: 225px;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
