html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.big-photo-wrapper {
	background-image: url(../img/alleventsmain.png);
	background-size: cover;
	width: 100%;
	height: 520px;
	margin: 0;
	padding: 0;
    position: relative;
}
.eventLink {
	position: absolute;
	width: 100%;
	height: 225px;
	display: inline-block;
}

.events-search > h1 {
    font-family: 'Impact', Arial, sans-serif;
    font-size: 5em;
    font-weight: 100;
    margin-top: 20px;
}
.title {
    padding: 2px;
    text-align: center;
    color: #111;
}
.title > h1 {
    margin: 10px;
    border-bottom: 7px solid #6C0CCC;
    display: inline-block;
}

.events-search {
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 130px;
}
.events-search > img {
    width: 160px;
    margin-bottom: 20px;
}

form.search-events {
    margin: 200px auto;
}

form.search-events input[type=text] {
    padding: 10px;
    font-size: 1em;
    border: none;
    float: left;
    width: 85%;
    background: #f1f1f1;
    opacity: 0.9;
    margin-left: 7px;
}

form.search-events button {
    float: right;
    width: 13%;
    padding: 10px;
    background: #6C0CCC;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;
}

form.search-events button:hover {
    background: #6C0CCC;
}

form.search-events:focus {
    outline-color: #6C0CCC;
}

.select-default {
    clear: both;
    text-align: center;
    margin-left: 5px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url() right / 20px no-repeat #fff;
    padding-right: 20px;
    outline: none;
}

.all-events-search {
    margin-top: 0px;
    background-color: transparent;
    font-family: Roboto;
    font-size: 1.05em;
    color: white;
    border: none;
    letter-spacing: .5px;
    text-decoration: underline;
    padding: 10px;
}
.all-events-search:nth-child(1) {
    margin-left: -5px;
}

.all-events-search option {
    background-color: #6C0CCC;
    outline: none;
}



@media only screen and (max-width: 405px) {
    .all-events-search {
    font-size: 0.9em;
    }
}
