html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3, h4 {
  font-family: 'Montserrat', sans-serif;
  /* margin-left: 5px; */
}

p {
  font-family: 'Roboto', sans-serif;
  /* margin-left: 5px; */
}

.card-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  /* height: 100vh; */
}
#testOutPut{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.biggest-card, .big-card, .small-card {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  /* min-height: 30%; */
  height: 300px;
  min-height: auto;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* margin-bottom: 1rem; */
  justify-content: space-between;
  background-color:  #232323;

}
.biggest-card:hover, .big-card:hover, .small-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.date {
  color: #FFFFFF;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* font-size: 2rem; */
  width: 80px;
  margin: 1rem;
  justify-content: center;
  align-self:flex-end;
}

.day {
  background-color: rgba(35, 35, 35, 0.7);
}
.month {
  background-color: #232323;
}

.event-info {
  flex-direction: row;
  /* display: flex; */
  width: 100%;
  /* padding: 10px; */
  color: #FFFFFF;
  background-color: #232323;
  height: auto;
  align-self: flex-start;
  justify-content: space-between;
  /* font-size: 2rem; */
}

.meetups-box {
  color: #FFFFFF;
  background-color: #606060;
  font-size: 2rem;
  max-width: 150px;
  min-width: 50px;
  height: 60%;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 5px 5px;
}
.meetups-box:hover{
  background-color: #6C0CCC;
}



@media screen and (min-width: 1025px){
  .card-holder{
    justify-content: space-between;
    margin: 1rem;
  }
  .biggest-card{
    width: 55%;
    margin: 1rem;
  }
  .big-card{
    width: 25%;
    margin: 1rem;
  }

  .date{
    font-size: 2rem;
  }
  .event-info{
    font-size: 1.5rem;
  }
  .meetups-box{
    font-size: 1.5rem;
  }
}
