html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

#testOutPut{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.big-card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 340px;
  padding: 0 ;
  height: auto;
  background-color:  #232323;
  /* color: #111; */
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  /* transition: 0.3s; */
  background-color: #F1F1F1;
  position: relative;
  /* padding: 10px; */

}
.big-card:hover{
}
.event-info {
  flex-direction: row;
  color: #FFFFFF;
  background-color: #232323;
  padding: 5px;
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  min-height: 55px;
}


.date {
  display:inline-flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  justify-content:flex-end;

}

.day {
  text-align: center;
  position: absolute;
  justify-content: flex-end;
  width: 20%;
  right: 0;
  top: 0;

  font-weight: bold;
  font-size: 1.5rem;
  background-color: rgba(35, 35, 35, 0.7);
  background-color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  /* animation-duration: 3s;
  animation-timing-function: ease; */
   /*-webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
   /*-webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */
   /*animation-name: example; */
}

/* Safari 4.0 - 8.0 */
/* @-webkit-keyframes example {
   from {right: 0;}
   to {left: 0; background-color: rgba(35, 35, 35, 0.7)}
}

@keyframes example {
  from {right: 0}
  to {left: 0; background-color: rgba(35, 35, 35, 0.7)}
} */

.month {
  text-align: center;
  position: absolute;
  width: 20%;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1rem;
  background-color: #6C0CCC;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  right: 0;
  top: 30px;
/*
  animation-duration: 3s;
  animation-timing-function: ease;
   -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
   /* -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */
   /* animation-name: example; */
}

.meetups-box {
  position: relative;
  color: #FFFFFF;
  background-color: #6C0CCC;

  padding: 0.5rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 5px 5px;
}


@media screen and (min-width: 1025px){
  .card-holder{
    justify-content: space-between;
    margin: 1rem;
  }
