html, body {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
  opacity: 0;
}
.show{
  display: block;
  opacity: 1;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 60px;
  background-color: #222;
  color: #fff;
}

.header h2 {
  margin: 0;
  padding: 13px 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  font-weight: 100;
}

.header i {
  align-self: center;
  padding: 15px;
}

#imageHolder {
  background-color: #eee;
  display: flex;
  height: 200px;
}

.eventImage {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 500px){
  .eventImage, .googleMapImg {
    height: 100%;
    width: 50%;
  }
  #imageHolder {
    background-color: #eee;
    display: flex;
    height: 230px;
  }
}


/* Real shit below */



#eventHolder > div > p {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px 20px 0px;
}
#eventHolder #eventPlace {
  margin: 2px 21px 0px;
}

#eventHolder > div:first-child > p:first-child {
  color: #c0c0c0;
  font-size: 0.9em;
  font-weight: 100;
  margin: 25px 22px -5px;
}
#eventHolder > p {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 25px 20px 0px;
  color: #aaa;
  font-size: 0.9em;
  font-weight: 100;
}


#eventHolder h2 {
  margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  font-weight: 100;
}

#eventInfoText {
  margin: 5px 0px 40px;
}
#eventDivButtons {
  text-align: center;
}
button.green, button.purple, button.leaveMeetupBtn, button.noTicketsBtn {
  display: inline-block;
  border: none;
  margin: 5px auto;
  width: 150px;
  outline: 0;
  border-radius: 5px;
  padding: 9px 20px;
  font-family: 'Questrial', sans-serif;
}
button.green {
  border: 2px solid green;
  color: green;
  padding: 8px 20px;
  background-color: #fff;
  box-sizing: border-box;
}
button.purple {
  color: #fff;
  background-color: #6C0CCC;
}
button.noTicketsBtn {
  color: #fff;
  background-color: #e47130;
}

button.leaveMeetupBtn {
  color: #fff4f4;
  border: none;
  background-color: #ff8181;
}
button.leaveMeetupBtn:hover {
  background-color: #da9393;
}

button:last-child {
  margin-bottom: 40px;
}

/* Hover CSS för knapparna på EVENTPAGE, BÖR ÄNDRAS TACK :PpppPPp */
button.green:hover {
  border: 3px solid #258f00;
  color: #258f00;
  padding: 7px 20px;
  box-sizing: border-box;
}
button.purple:hover {
  background-color: #56139a;
}



/* MEETUP CSS */
#meetupWrapper > div:nth-child(odd) {
  background-color: #eaeaea
}
#meetupWrapper > div:nth-child(even) {
  background-color: #f5f5f5;
}
#meetupWrapper > div > h2 {
  color: #222;
  margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  padding: 20px 0px 0px;
}
#meetupWrapper > div > h2 + p {
  margin: -3px 22px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: #878787;
}
#meetupWrapper > div > div > img.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 20px;
}
#meetupWrapper > div > div.creatorDiv {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #525252;
  margin: 5px auto -22px;
}
#meetupWrapper > div > div p {
  margin: -1px;
  font-family: 'Roboto',sans-serif;
  color: #494949;
}
#meetupWrapper > div > div p:first-child{
  margin-top: 19px;
  margin-left: 0px;
  font-size: 0.8em;
  color: #777;
}

#meetupWrapper > div > div.infoDiv {
  margin: -3px 90px;
}

div.meetupInfo {
  margin: -38px 0px 0px;
  padding: 6px 20px 25px;
}


/* Google Map Stuff */
div.googleMapDiv > img {
  margin: 25px auto;
  width: 100%;
  height: 100%;
  max-width: 400px;
}
.googleMapDiv {
  margin: 0px 20px;
  display: flex;
  justify-content: center;
}
.googleMapDiv > img {
  border-radius: 10px;
  border: 1px solid #eae7e7;
}

/* Info Text Stuff */
.infoDivWrapper {
  display: flex;
  margin: 0px 70px;
}

.infoDivWrapper > div {
  margin: 0px 20px;
}

/* Join Meetup Button */
.btnHolder {
  display: flex;
  justify-content: center;
}


/* When user is in the meetup */

/* Display Members */
#meetupWrapper > div > div.moreMeetupInfoDiv p:first-child {
  width: 50%;
  margin-left: 20px;
}
.moreMeetupInfoDiv {
  display: flex;
  flex-direction: column;
}
.membersWrappingDiv {
  margin: 9px 15px;
  display: flex;
  flex-wrap: wrap;
}
#meetupWrapper > div .membersWrappingDiv + p {
  margin-top: 12px;
  margin-left: 20px;
  margin: 12px 20px 5px;
  font-size: 0.8em;
  color: #777;
}
.moreMeetupInfoDiv > div > div.memberDiv > img {
  margin: 0px 4px 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#meetupWrapper > div > div p.hoverMessage {
  display: none;
  background-color: #454545;
  position: absolute;
  color: #eee;
  margin: -66px 0px;
  padding: 4px 9px;
  border-radius: 7px;
  font-size: 0.8em;
}

#meetupWrapper > div .moreMeetupInfoDiv > div > div.memberDiv > img:hover + .hoverMessage {
  display: block;
  opacity: 1;
}

/* Chatt css */
.chattWrapperDiv {
  height: 230px;
  overflow: auto;
  width: calc(100% - 40px);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  align-self: center;
  background-color: #d1d1d1;
  color: #fff;
  margin: 5px 0px 0px;
}

/* Actual chatmessage */
.chattMessageDiv {
  display: flex;
  color: #ff9f9f;
  margin: 10px 14px 0px 0px;
}
.chattMessageDiv:last-child {
  margin: 10px 14px 10px 0px;
}

.chattMessageDiv > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0px 14px;
  align-self: center;
}
#meetupWrapper > div div.chattMessageDiv > p {
  font-size: 0.8em;
  color: #fff;
}
#meetupWrapper > div div.chattMessageDiv > p.timeStamp {
  color: red;
}

.messageWrapper {
  width: 100%;
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}
.textmessageWrapper {
  display: flex;
}
.textmessageWrapper span {
  margin-bottom: -10px;
}
.likeCount {
  color: #b6b6b6;
  font-size: 0.7em;
  margin: 3px 1px 0px;
  display: inline-block;
  min-width: 5px;
  text-align: right;
}

/* end of chat */

#meetupWrapper > div > div p.timeStamp {
  position: absolute;
  margin: 6px;
  top: 0;
  right: 0;
  font-size: 0.7em;
  color: #b6b6b6;
}

#meetupWrapper > div > div.moreMeetupInfoDiv div.messageWrapper p:first-child {
  width: 0;
  margin: 0px 4px;
  width: 100%;
}
#meetupWrapper > div > div.moreMeetupInfoDiv div.messageWrapper p:last-child {
  margin: 0px 3px;
  font-size: 0.9em;
  color: #565656;
}

/* No Message */
#meetupWrapper > div > div.moreMeetupInfoDiv p.noMessage {
  font-size: 1.3em;
  color: #ececec;
  width: auto;
  margin: 62px auto;
  text-align: center;
}

/* Inputbox */

.chattWrapperDiv + input {
  border: none;
  color: #4A4A4A;
  border-top: 3px solid #cccc;
  box-sizing: border-box;
  height: 45px;
  padding: 10px 15px;
  margin: 0px 20px 20px;
  width: calc(100% - 40px);
  align-self: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ABABAB;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ABABAB;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ABABAB;
}

/* Animations */
.spinner {
  width: 107px;
  height: 82px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #dbdbdb;
  height: 100%;
  width: 16px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


.addressCard > p {
  display: none;
  opacity: 0;
}

.meetupOverlayRemoved {
  background-color: rgba(236, 236, 236, 0.61);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.overlayAnimation {
  scroll-behavior: smooth;
  position: absolute;
  z-index: -900000;
  -webkit-animation-name: overlayFadeRemove;
  -webkit-animation-duration: 3s;
  animation-name: overlayFadeRemove;
  animation-duration: 6s;
}
/* Animation for overlay */

/* Safari 4.0 - 8.0 */
@-webkit-keyframes overlayFadeRemove {
    0%   {background-color:#d5d2d206; left:0px; top:0px;}
    100% {background-color:#d5d2d2; left:0px; top:-467px;}
}

/* Standard syntax */
@keyframes overlayFadeRemove {
  0%   {background-color:#d5d2d206; left:0px; top:0px;}
  100% {background-color:#d5d2d2; left:0px; top:-467px;}
}


@media screen and (max-width: 999px){
  .purple.editBtn {
    display: none;
  }
  .iconBtn.editBtn {
    margin: 14px 6px;
    padding: 0px;
    font-size: 2.8em;
    color: #8c8c8c;
    background-color: #fff0;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    }
    #meetupWrapper > div {
      position: relative;
    }
  }


/* MEDIA QUERIES ENSKILT EVENT */
@media screen and (min-width: 1000px){

  .iconBtn.editBtn {
    display: none;
  }

  #meetupWrapper > div div.meetupInfo p:nth-child(2){
    max-width: 300px;
  }
  #meetupWrapper > div > div p {
    max-width: 200px;
  }

  div.meetupInfo {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 84.3px -155px;
  }
  .btnHolder {
    display: block;
    margin: 30px 0px 50px 90px;
  }
  .btnHolder .purple {
    width: 196px;
  }
  .purple.editBtn {
    width: auto;
    margin: 20px 0px 35px 88px;
    box-shadow: 1px 1px 3px #cbcbcb;
    padding: 9px 14px;
    border-radius: 2px;
    font-size: 0.9em;
    color: #5a5a5a;
    background-color: #f5f5f5;
  }
  .purple.editBtn:hover {
    background-color: #fff;
    color: #2d2d2d;
  }
  .addressCard {
    display: inline-block;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 18%;
    margin: 42px 50px;
    background-color: #f3f3f3;
    padding: 5px 20px 0px;
    border-radius: 7px;
  }
  .addressCard > p {
    display: block;
    opacity: 1;
  }

  #meetupWrapper > div > div.addressCard p:nth-child(odd) {
    margin-top: 19px;
    margin-left: 0px;
    font-size: 0.8em;
    color: #999;
  }
  #meetupWrapper > div > div.addressCard p:nth-child(even) {
    margin-left: 0px;
    font-size: 0.9em;
    color: #555;
  }

  #meetupWrapper > div > div.creatorDiv {
    margin: 5px 0px -22px;
    max-width: 30%;
  }

  .googleMapDiv {
    margin: -7px -20px -28px;
  }
  .googleMapDiv > img {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  #meetupWrapper > div {
    position: relative;
    padding: 15px 0px 15px 30px;
  }

  #meetupWrapper, #eventHolder {
    max-width: 1200px;
    margin: 0px auto 50px;
  }

  body {
    background-color: #fafafa;
  }

  /* Css for the chatt and members */
  /* start by fixing the heart */

  #meetupWrapper > div > div div.textmessageWrapper p {
    max-width: 100%;
  }
}
