html, body {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
  opacity: 0;
}
.show{
  display: block;
  opacity: 1;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 60px;
  background-color: #222;
  color: #fff;
}

.header h2 {
  margin: 0;
  padding: 13px 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  font-weight: 100;
}

.header i {
  align-self: center;
  padding: 15px;
}

.imageHolder {
  background-color: #eee;
  display: flex;
  height: 200px;
}

.eventImage {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 500px){
  .eventImage, .googleMapImg {
    height: 100%;
    width: 50%;
  }
  .imageHolder {
    background-color: #eee;
    display: flex;
    height: 230px;
  }
}


/* Real shit below */



#eventHolder > div > p {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px 20px 0px;
}
#eventHolder #eventPlace {
  margin: 2px 21px 0px;
}

#eventHolder > div:first-child > p:first-child {
  color: #c0c0c0;
  font-size: 0.9em;
  font-weight: 100;
  margin: 25px 22px -5px;
}
#eventHolder > p {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 25px 20px 0px;
  color: #aaa;
  font-size: 0.9em;
  font-weight: 100;
}


#eventHolder h2 {
  margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  font-weight: 100;
}

#eventInfoText {
  margin: 5px 0px 40px;
}
#eventDivButtons {
  text-align: center;
}
button.green, button.purple, button.leaveMeetupBtn, button.noTicketsBtn {
  display: inline-block;
  border: none;
  margin: 5px auto;
  width: 150px;
  outline: 0;
  border-radius: 5px;
  padding: 9px 20px;
  font-family: 'Questrial', sans-serif;
}
button.green {
  border: 2px solid green;
  color: green;
  padding: 8px 20px;
  background-color: #fff;
  box-sizing: border-box;
}
button.purple {
  color: #fff;
  background-color: #6C0CCC;
}
button.noTicketsBtn {
  color: #fff;
  background-color: #e47130;
}

button.leaveMeetupBtn {
  color: #fff4f4;
  border: none;
  background-color: #ff8181;
}
button.leaveMeetupBtn:hover {
  background-color: #da9393;
}

button:last-child {
  margin-bottom: 40px;
}

/* Hover CSS för knapparna på EVENTPAGE, BÖR ÄNDRAS TACK :PpppPPp */
button.green:hover {
  border: 3px solid #258f00;
  color: #258f00;
  padding: 7px 20px;
  box-sizing: border-box;
}
button.purple:hover {
  background-color: #56139a;
}



/* MEETUP CSS */
#meetupWrapper > div:nth-child(odd) {
  background-color: #eaeaea
}
#meetupWrapper > div:nth-child(even) {
  background-color: #f5f5f5;
}
#meetupWrapper > div > h2 {
  color: #222;
  margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  font-weight: 100;
  padding: 20px 0px 0px;
}
#meetupWrapper > div > h2 + p {
  margin: -3px 22px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: #878787;
}
#meetupWrapper > div > div > img.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 20px;
}
#meetupWrapper > div > div.creatorDiv {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #525252;
  margin: 5px auto -22px;
}
#meetupWrapper > div > div p {
  margin: -1px;
  font-family: 'Roboto',sans-serif;
  color: #494949;
}
#meetupWrapper > div > div p:first-child{
  margin-top: 19px;
  margin-left: 0px;
  font-size: 0.8em;
  color: #777;
}

#meetupWrapper > div > div.infoDiv {
  margin: -3px 90px;
}

div.meetupInfo {
  margin: -38px 0px 0px;
  padding: 6px 20px 25px;
}


/* Google Map Stuff */
div.googleMapDiv > img {
  margin: 25px auto;
}
.googleMapDiv {
  margin: 0px 20px;
  display: flex;
  justify-content: center;
}
.googleMapDiv > img {
  border-radius: 10px;
  border: 1px solid #eae7e7;
}

/* Info Text Stuff */
.infoDivWrapper {
  display: flex;
  margin: 0px 70px;
}

.infoDivWrapper > div {
  margin: 0px 20px;
}

/* Join Meetup Button */
.btnHolder {
  display: flex;
  justify-content: center;
}


/* When user is in the meetup */

/* Display Members */
#meetupWrapper > div > div.moreMeetupInfoDiv p:first-child {
  width: 50%;
  margin-left: 20px;
}
.moreMeetupInfoDiv {
  display: flex;
  flex-direction: column;
}
.membersWrappingDiv {
  margin: 9px 15px;
  display: flex;
  flex-wrap: wrap;
}
#meetupWrapper > div .membersWrappingDiv + p {
  margin-top: 12px;
  margin-left: 20px;
  margin: 12px 20px 5px;
  font-size: 0.8em;
  color: #777;
}
.moreMeetupInfoDiv > div > div.memberDiv > img {
  margin: 0px 4px 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#meetupWrapper > div > div p.hoverMessage {
  display: none;
  background-color: #454545;
  position: absolute;
  color: #eee;
  margin: -66px 0px;
  padding: 4px 9px;
  border-radius: 7px;
  font-size: 0.8em;
}

#meetupWrapper > div .moreMeetupInfoDiv > div > div.memberDiv > img:hover + .hoverMessage {
  display: block;
  opacity: 1;
}

/* Chatt css */
.chattWrapperDiv {
  height: 230px;
  overflow: auto;
  width: calc(100% - 40px);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  align-self: center;
  background-color: #d1d1d1;
  color: #fff;
  margin: 5px 0px 0px;
}

/* Actual chatmessage */
.chattMessageDiv {
  display: flex;
  color: #ffcece;
  margin: 10px 14px 0px 0px;
}
.chattMessageDiv:last-child {
  margin: 10px 14px 10px 0px;
}

.chattMessageDiv > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0px 14px;
  align-self: center;
}
#meetupWrapper > div div.chattMessageDiv > p {
  font-size: 0.8em;
  color: #fff;
}
#meetupWrapper > div div.chattMessageDiv > p.timeStamp {
  color: red;
}

.messageWrapper {
  width: 100%;
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}
.textmessageWrapper {
  display: flex;
}
.likeCount {
  display: in
  color: #b6b6b6;
  font-size: 0.7em;
  margin: 3px 1px 0px;
  display: inline-block;
  min-width: 5px;
  text-align: right;
}

/* end of chat */

#meetupWrapper > div > div p.timeStamp {
  position: absolute;
  margin: 6px;
  top: 0;
  right: 0;
  font-size: 0.7em;
  color: #b6b6b6;
}

#meetupWrapper > div > div.moreMeetupInfoDiv div.messageWrapper p:first-child {
  width: 0;
  margin: 0px 4px;
  width: 100%;
}
#meetupWrapper > div > div.moreMeetupInfoDiv div.messageWrapper p:last-child {
  margin: 0px 3px;
  font-size: 0.9em;
  color: #565656;
}

/* No Message */
#meetupWrapper > div > div.moreMeetupInfoDiv p.noMessage {
  font-size: 1.3em;
  color: #ececec;
  width: auto;
  margin: 62px auto;
  text-align: center;
}

/* Inputbox */

.chattWrapperDiv + input {
  border: none;
  color: #4A4A4A;
  border-top: 3px solid #cccc;
  box-sizing: border-box;
  height: 45px;
  padding: 10px 15px;
  margin: 0px 20px 20px;
  width: calc(100% - 40px);
  align-self: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ABABAB;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ABABAB;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ABABAB;
}
