body {
	margin: 10px;
	box-sizing: border-box;
    background: #F2F2F2;
}
.big-photo-wrapper {
	background-image: url(../img/alleventsmain.png);
	background-size: cover;
	width: 100%;
	height: 520px;
	margin: 0;
	padding: 0;
    position: relative;
}
.eventLink {
	position: absolute;
	width: 321px;
	height: 225px;
	display: inline-block;
}

.events-search > h1 {
    font-family: 'Impact', Arial, sans-serif;
    font-size: 5em;
    font-weight: 100;
    margin-top: 20px;
}
.title {
    padding: 2px;
    text-align: center;
    color: #111;
}
.title > h1 {
    margin: 10px;
    border-bottom: 7px solid #6C0CCC;
    display: inline-block;
}

.events-search {
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 130px;
}

form.search-events {
    margin: 200px auto;
}
form.search-events input[type=text] {
    padding: 10px;
    font-size: 1em;
    border: none;
    float: left;
    width: 80%;
    background: #f1f1f1;
    opacity: 0.9;
    margin-left: 7px;
}

form.search-events button {
    float: left;
    width: 16%;
    padding: 10px;
    background: #6C0CCC;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

form.search-events button:hover {
    background: #6C0CCC;
}

form.search-events:focus {
    outline-color: #6C0CCC;
}

.select-default {
    clear: both;
    text-align: center;
    margin-left: 5px;
}

.all-events-search {
    margin-top: 5px;
    background-color: transparent;
    font-family: Roboto;
    font-size: 1em;
    color: white;
    border: none;
    letter-spacing: .5px;
    text-decoration: underline;
    text-decoration-style: solid;
}
.all-events-search:nth-child(1) {
    margin-left: -5px;
}

.all-events-search option {
    background-color: #6C0CCC;
}




/*RANDOM CSS FÖR TESTING*/

#testOutPut {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.event-card {
    background-color: #F1F1F1;
    width: 360px;
    color: #111;
    margin: 10px;
    padding: 20px;
}
.event-card:hover {
    transition: 0.3s;
    background:#232323;
    color: white;
}
.event-card h4 {
    font-size: 1.1em;
    margin: 5px auto;
    font-family: Roboto;
}
.event-card h5 {
    margin-top: 10px;
    font-size: 0.8em;
    letter-spacing: 1px;
    font-family: Roboto;
    font-weight: 100;
}
.event-card p {
    font-size: 0.8em;
    margin-top 10px;
    font-weight: bold;
    margin-bottom: 5px;
}
.event-card img {
    width: 100%;
    height: 225px;
}


@media only screen and (max-width: 405px) {
    .all-events-search {
    font-size: 0.9em;
    }
}
