body {
	margin: 10px;
	box-sizing: border-box;
}
.big-photo-wrapper {
	background-image: url(../img/alleventsmain.png);
	background-size: cover;
	width: 100%;
	height: 520px;
	margin: 0;
	padding: 0;
    position: relative;
}

.events-search > h1 {
    font-family: 'Impact', Arial, sans-serif;
    letter-spacing: 1px;;
    font-size: 3.7em;
    font-weight: 100;
}

.events-search {
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 180px;
}

form.search-events {
    margin: 200px auto;
}
form.search-events input[type=text] {
    padding: 10px;
    font-size: 1em;
    border: none;
    float: left;
    width: 80%;
    background: #f1f1f1;
    opacity: 0.9;
    outline-color: #6C0CCC;
}

form.search-events button {
    float: left;
    width: 70px;
    padding: 10px;
    background: #6C0CCC;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

form.search-events button:hover {
    background: #6C0CCC;
}

form.search-events:focus {
    outline-color: #6C0CCC;
}

.select-default {
    clear: both;
    text-align: center;
}

.all-events-search {
    margin-top: 5px;
    outline: none;
    background-color: transparent;
    font-family: Roboto;
    font-size: 1.1em;
    color: white;
    border: none;
    letter-spacing: .5px;
    text-decoration: underline;
    text-decoration-style: solid;
}
.all-events-search:nth-child(1) {
    margin-left: -5px;
}

.all-events-search option {
    background-color: #6C0CCC;
}




/*EVENT CARDS ANNAS CSS*/
.event-card {
	position: relative;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	margin: 0;
	min-width: 450px;
	margin-bottom: 10px;
}
.date {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.day {
	font-size: 2rem;
	background-color: rgba(35, 35, 35, 0.7);
}
.month {
	background-color: #232323;
}
.event-info {
	padding: 10px;
	color: #FFFFFF;
	background-color: #232323;
	position: relative;
	height: auto;
	margin-top: -10px;
}
.event-info>h4,
.event-info>p {
	margin: 0;
	font-size: 2rem;
}
.meetups-box {
	color: #FFFFFF;
	background-color: #606060;
	width: auto;
	font-size: 2rem;
	position: absolute;
	right: 20px;
	bottom: 20px;
	border-radius: 5px;
	padding: 5px;
}
.event-card:first-child(1) {
	width: 100%;
}
.event-card:not(:first-child) {
	width: 30%;
}