.faq{
    display: inline-block;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #ececec;
    top: 0;
    left: 0;
    z-index: 1;
    color: #636363;
}

.faq h2 {
  color: #636363;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
  margin: 20px;
  border-bottom: 2px solid #ddd;
  padding: 0px 2px 6px;
}

.question{
  margin: 20px;
  font-size: 1.5em;
}

.answer{
  margin: 20px;
  font-weight: lighter;
  font-size: 1.1em;
}

.askMore{
  text-align: center;
  margin-top: 50px;
}
.closeBtn{
    height: 46px;
    cursor: pointer;
    color: #fcfcfc;
    display: flex;
    justify-content: center;
    background-color: #ff8181;
    align-items: center;
    margin: 25px 20px 5px;
    /* margin-top: 150px; */
    width: 90%;
    border-radius: 5px;
    border-top: 2px solid #d17d7d;
    position: absolute;
    bottom: 10px;
}
@media screen and (min-width: 1025px){
  .faq {
    display: inline-block;
    position: fixed;
    height: 77%;
    /* max-height: 77%; */
    min-height: 700px;
    width: 400px;
    background-color: #636363;
    color: #f9f9f9;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 2px 2px 3px #757575;
  }

  .faq h2{
    color:#f9f9f9;
  }
  .question{
    font-size: 1em;
  }
  .answer{
    color:#000;
    font-size:1em;

  }
  .closeBtn{
    margin: 25px 20px 5px;
    margin-top: 100px;
  }
  .closeBtn:hover{
    background-color: #f66;
  }
}
