
/* Class Header CSS */



.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 60px;
  background-color: #222;
  color: #fff;
}

.header h2 {
  margin: 0;
  padding: 13px 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  font-weight: 100;
}

/* Navigation Image CSS */
#navigation img {
	margin-top: 8px;
	margin-left: 12px;
	width: 40px;
	height: 40px;
	border: 1px solid #232323; /*Behöver vara där för att logga inte ska bli avskuren i botten*/
	border-radius: 100px;
}

  /* deskNav style and flex box */
  .deskNav {

    list-style-type: none;
    padding: 5px 25px;
    margin: 0;
    background: #222;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    text-transform: uppercase;
  }

  .deskNav li {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 1em;
    margin-right: 15px;
    margin-left: 15px;
    color: #FFFF;
    font-family: 'Roboto', sans-serif;
  }


  @media all and (max-width: 800px) {
    .deskNav {
      display: none
    }
  }

  /* deskNav style and flex box END */

  /* Text hover underline effect */
  .deskNav li:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid #FFF;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
  }

  .deskNav li:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  /* Text hover underline effect END... */
