html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
#menu li:hover>a {
	transition: 0.3s;
	color: #6C0CCC;
}

#helloUser{
  position: absolute;
  left: 80px;
	padding: 17px 0;
	font-size: 1.2em;
  /* text-transform: uppercase; */
}
#userName{
  color:#fff;
  font-weight: 600;
  /* text-transform: uppercase; */
}

.eventLink {
	position: absolute;
	width: 100%;
	height: 225px;
	display: inline-block;
}
.background-img{
  height: 100vh;
  background-image: url("../img/crowd.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;

}

.logo-landing{
  margin-top: 5rem;
  height: 130px;
  margin-bottom: 2rem;
  align-self: center;
  opacity: 0.8;

}
.heading1{
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  opacity: 0.7;
  font-size: 1.5rem;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color:  #FFFFFF;
  font-size: 1.7rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;

}

.title {
    padding: 20px;
    text-align: center;
    color: #111;
}
.title > h1 {
    margin: 10px;
    border-bottom: 7px solid #6C0CCC;
    display: inline-block;
    margin-bottom: 20px;

}

#landingpageBtn{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  align-self: center;
  max-width: 70%;
  margin-top: 200px;
  color: #FFFFFF;
  background-color: #6C0CCC;
  border: 3px solid  #6C0CCC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title>h1>a{
  color: #111;
}
.title>h1>a>span{
 display: none;
}


 /* mobile landscape */
@media screen and (max-width: 650px) and (orientation:landscape ){
  #landingpageBtn{
    margin-top:10px;
  }
  .heading1{
    opacity: 1;
  }
  h2{
    font-size: 1rem;
  }
}




/* desktop */
@media screen and (min-width: 1025px){
  background-img{
    background-attachment: fixed;
  }
  .logo-landing{
    margin-top: 5rem;
    height: auto;
    width: 30%;
    margin-bottom: 0;
    align-self: center;
    opacity: 0.8;

  }
  #landingpageBtn{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    align-self: center;
    max-width: 70%;
    margin-top: 150px;
    margin-bottom: 50px;
    background-color: rgba(96,96,96, 0.8);
    color: #FFFFFF;
    border: 3px solid  #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }


  #landingpageBtn:hover{
    color: #FFFFFF;
    background-color: #6C0CCC;
    border: 3px solid  #6C0CCC;
    font-weight: bold;
  }
  .heading1{
    margin-left: 200px;
    margin-top: -10px;
    font-size: 2rem;
    margin-left:13%;
  }
  h2{
    margin: 2rem;
  }
  .title>h1>a{
    color: #111;
  }
 .title>h1>a>span{
   display: none;
 }
  .title>h1:hover{
    cursor: pointer;
  }
 .title>h1:hover>a>span{
   display: inline;
 }
}
