body.hiddenBody {
  overflow-y: hidden;
}

#lmw {
  background-color: #21252C;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999999999;
}
span.loginModalCloseButton {
  position: absolute;
  right: 0;
  margin: 8px -4px;
}

.centered {
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*bottom: 0px;*/
}

#lmw > div > div.header + div {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  padding: 10px 0px;
}

#lmw button {
  transition: 0.2s ease;
  margin: 10px auto;
  padding: 12px 57px;
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  font-family: 'Questrial',sans-serif;
  color: #515151;
  font-size: 0.8em;
  background-color: #c5c5c533;
  font-weight: 100;
  cursor: pointer;
}
#lmw button > span {
  margin: 6px 10px 0px 13px;
  color: #fff;
}
#lmw button > i {
  transition: 0.8s ease;
}

/* Focus Effects for Mobile */

#lmw button:focus {
  background-color: #ececec;
}

#lmw button:focus > i.mdi-facebook-box {
  color: #7fb2d8;
}

#lmw button:focus > i.mdi-google {
  color: #269e5a;
}

/* Hover Effects for the WEB */
/*Alltid färg på när mobil visas */
#lmw button:hover {
  background-color: #ececec;
}
#lmw button > i.mdi-facebook-box {
  color: #45a1e6;
}
#lmw button > i.mdi-google {
  color: #269e5a;
}




.loginModalCloseCenteredBtn {
  display: none;
}
/* MEDIA QUERIES FOR LOGINMODAL*/

@media screen and (min-width: 667px) and (min-height: 450px){

  body.hiddenBody {
    width: 100%;
    position: fixed;
    overflow-y: scroll;
  }
  .loginModalCloseCenteredBtn {
    color: #9c9c9c;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 7px 10px;
    cursor: pointer;
  }
  #lmw {
    background-color: rgba(17,17,17, 0.53);
    width: 100%;
  }

  #lmw > div > div.header + div {
    width: 40%;
    height: 45%;
    background-color: #e4e4e4;
    box-shadow: 3px 3px 3px #636363;
  }
  #lmw > div > div.header{
    display: none;
  }

  #lmw > div > div.header + div > div {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}
