html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.smallLine {
  height: 1px;
  background-color: #d5d5d5;
  width: 90%;
  margin: 0px auto 25px;
  max-width: 400px;
}

button.verifySend {
  display: inline-block;
  margin: 5px auto;
  width: 150px;
  outline: 0;
  border-radius: 5px;
  padding: 9px 20px;
  font-family: 'Questrial', sans-serif;
}

button.verifySend {
  color: #fff4f4;
  border: none;
  background-color: #6C0CCC;
}
button.verifySend:hover {
  background-color: #da9393;
}
button.logInBtn {
  background-color: #a0bf9e;
  position: static;
  bottom: auto;
  left: auto;
  margin: 5px auto 40px;
}
.content > button.logInBtn:hover {
  background-color: #a9c3a9;
}

#mapWrap {
  background-color: #fff;
}

#modalWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #222;
}
#modalContent {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#modalContent > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 60px;
  background-color: #222;
  color: #fff;
}

#modalContent > .header h2 {
  margin: 0;
  padding: 13px 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  font-weight: 100;
}
#modalContent > .header > #menuDiv{
  padding: 8px 2px;
  cursor: pointer;
}
#modalContent > .content {
  position: relative;
  width: 100%;
  background-color: #fff;
}
#modalContent input[type="text"]{
  border: none;
  outline: none;
  padding: 15px 0px 15px 15px;
  width: 100%;
  display: flex;
  margin: 0px auto 12px;
  box-shadow: 1px 1px 3px #a2a2a2;
  border: 1px solid #f0f0f0;
}

#modalContent .content > input[type="text"]:first-child {
  margin-top: 20px;
}

#modalContent div.timeOrSpots{
  display: flex;
  justify-content: center;
}
.nameAdressPlacelabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(80% - 15px);
  margin: 20px auto;
}
#modalContent div.timeOrSpots > div {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 40%;
}

#modalContent span {
  margin: 2px 7px;
  font-family: 'Roboto',sans-serif;
  color: #656565;
  font-size: 0.8em;
}
#modalContent .nameAdressPlacelabels span {
  margin: 2px 0px;
}

#modalContent input[type="text"].timeOrSpots {
  width: auto;
  margin: 0px 5px 15px;
}

#modalContent .sliderHolder {
  width: 75%;
  margin: 25px auto 0px;
}

/* Slider Styles */
.sliderHolder .rs-container .rs-scale span ins{
  display: none;
}
.sliderHolder .rs-container .rs-scale span::before {
  background-color: inherit;
}

#ageIntervalDisplayer {
  color: #666;
  font-size: 0.9em;
  display: flex;
  width: calc(75% + 34px);
  min-height: 50px;
  margin: -15px auto 0;
  justify-content: space-between;
}
#ageIntervalDisplayer > div {
  padding: 7px;
  z-index: 20;
  cursor: pointer;
  max-width: 23%;
}

/* Slider input */
#ageIntervalDisplayer > div > input[type="text"] {
  color: #222;
  font-size: 1.2em;
  border-radius: 2px;
  padding: 5px 12px;
  margin: -9px auto -50px;
  max-width: 55px;
}
#textareaDiv {
  width: 90%;
  position: relative;
  margin: 0px auto 50px auto;
  height: 230px;
}
#textareaDiv > p {
  color: #656565;
  font-size: 0.8em;
}
#textareaDiv > textarea {
  resize: none;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #efefef;
  width: 100%;
  height: 100%;
  padding: 12px 15px;
  box-sizing: border-box;
}

/* Slider itself */
.rs-container .rs-selected {
  background-color: #9b9b9b;
  border: 1px solid #00969b;
}
.rs-container .rs-bg, .rs-container .rs-selected {
  height: 3px;
}
.rs-container .rs-pointer {
    background-color: #515151;
    border: 1px solid #666565;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    position: absolute;
    top: -3px;
    transition: all .2s linear;
    width: 20px;
    box-shadow: inset 0 0 1px #FFF,inset 0 1px 6px #969696,1px 1px 4px rgba(0, 0, 0, 0.1);
}

.rs-container .rs-pointer::after, .rs-container .rs-pointer::before {
  content: none;
}

.content > button {
  display: flex;
  justify-content: center;
}
.content > button:hover {
  background-color: #ddd;
}

#map {
  width: 300px;
  height: 400px;
  border-radius: 8px;
}
#mapWrap{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* Antal Tecken CSS för telefon. */
#modalContent .characterCounter {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: -17px 6px -11px -1px;
  color: #393939;
  font-size: 0.9em;
}

  #fokenHide {
    display: none;
  }
/* Media queries */
@media screen and (min-width: 1000px){

  #fokenHide {
    display: flex;
  }

  #modalContent > .header > #menuDiv:hover {
    color: #e1e1e1;
  }

  #modalWrapper {
    background-color: #2226;
    width: 100%;
    z-index: 2;
    height: auto;
  }

  #modalContent {
    width: 80%;
    background-color: #fff;
    margin: 81px auto 300px;
    padding: 0px 0px 1px;
    max-width: 990px;
  }

  .labelsAndMap {
    display: flex;
    padding: 25px;
  }

  #modalContent div.timeOrSpots {
    width: 90%;
    margin: 0px auto;
    justify-content: space-between
  }

  #mapWrap {
    margin-bottom: 20px;
  }
  #map {
    width: 300px;
    height: 300px;
    border-radius: 8px;
  }

  .nameAdressPlacelabels {
    justify-content: start;
    margin: -2px auto;
  }
}
