html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button.verifySend {
  display: inline-block;
  margin: 5px auto;
  width: 150px;
  outline: 0;
  border-radius: 5px;
  padding: 9px 20px;
  font-family: 'Questrial', sans-serif;
}

button.verifySend {
  color: #fff4f4;
  border: none;
  background-color: #6C0CCC;
}
button.verifySend:hover {
  background-color: #da9393;
}
button.logInBtn {
  background-color: #a0bf9e;
}
.content > button.logInBtn:hover {
  background-color: #a9c3a9;
}

#mapWrap {
  background-color: #fff;
}

#modalWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #222;
}
#modalContent {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#modalContent > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 60px;
  background-color: #222;
  color: #fff;
}

#modalContent > .header h2 {
  margin: 0;
  padding: 13px 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  font-weight: 100;
}
#modalContent > .header > #menuDiv{
  padding: 8px 2px;
  cursor: pointer;
}
#modalContent > .content {
  position: relative;
  width: 100%;
}
#modalContent input[type="text"]{
  border: none;
  outline: none;
  padding: 15px 0px 15px 15px;
  width: calc(80% - 15px);
  display: flex;
  margin: 8px auto;
  box-shadow: 1px 1px 3px #a2a2a2;
  border: 1px solid #f0f0f0;
}

#modalContent .sliderHolder {
  width: 70%;
  margin: 25px auto 0px;
}

/* Slider Styles */
.sliderHolder .rs-container .rs-scale span ins{
  display: none;
}
.sliderHolder .rs-container .rs-scale span::before {
  background-color: inherit;
}

#ageIntervalDisplayer {
  color: #666;
  font-size: 0.9em;
  display: flex;
  width: calc(70% + 34px);
  min-height: 50px;
  margin: -15px auto 0;
  justify-content: space-between;
}
#ageIntervalDisplayer > div {
  padding: 7px;
  z-index: 20;
  cursor: pointer;
  max-width: 23%;
}
/* Slider input */
#ageIntervalDisplayer > div > input[type="text"] {
  color: #222;
  font-size: 1.2em;
  border-radius: 2px;
  padding: 5px 12px;
  margin: -9px auto -50px;
  max-width: 28px;
}
#textareaDiv {
  width: 90%;
  margin: 0px auto 50px auto;
  height: 230px;
}
#textareaDiv > textarea {
  resize: none;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #efefef;
  width: 100%;
  height: 100%;
  padding: 12px 15px;
  box-sizing: border-box;
}

/* Slider itself */
.rs-container .rs-selected {
  background-color: #9b9b9b;
  border: 1px solid #00969b;
}
.rs-container .rs-bg, .rs-container .rs-selected {
  height: 3px;
}
.rs-container .rs-pointer {
    background-color: #515151;
    border: 1px solid #666565;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    position: absolute;
    top: -3px;
    transition: all .2s linear;
    width: 20px;
    box-shadow: inset 0 0 1px #FFF,inset 0 1px 6px #969696,1px 1px 4px rgba(0, 0, 0, 0.1);
}

.rs-container .rs-pointer::after, .rs-container .rs-pointer::before {
  content: none;
}

.content > button {
  border: none;
  margin: 0;
  padding: 10px 25px;
  cursor: pointer;
  margin: 5px auto 0;
  width: 100%;
  height: 60px;
  display: inline-block;
  text-align: center;
  border-radius: 0px;
}
.content > button:hover {
  background-color: #ddd;
}

#map {
  width: 300px;
  height: 400px;
  border-radius: 8px;
}
#mapWrap{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
