body {
	margin: 0;
	padding: 0;
	/* make it look decent enough */
	background: #fff;
	font-family: "Montserrat", "Arial", sans-serif;
    overflow-x: hidden; /*Fungerar bara på webb, ej på mobil*/
}
a {
	text-decoration: none;
	color: #333;
	transition: color 0.3s ease;
}

/* Hello User CSS */
#helloUser {
	position: absolute;
	left: 70px;
	padding: 15px 0;
	font-size: 1.2em;
  /* text-transform: uppercase; */
}
#userName {
  color:#fff;
  font-weight: 600;
  /* text-transform: uppercase; */
}

/* Notifications */
#notificationBell {
	margin: 5px;
	vertical-align: -3px;
}

#notificationBell:hover {
	color: #e3e3e3;
	cursor: pointer;
}

#notificationBell > i {
	padding: 0px;
}

/* Notificationwrapper */
#notificationWrapper {
	width: 100%;
	height: 100%;
	background-color: #eaeaea;
	position: fixed;
	z-index: 2;
	color: #414141;
	overflow-y: auto;
}

/* Notificationwrapper Header */
#notificationWrapper i {
	padding: 0;
	margin: 0;
}
#notificationWrapper h2 {
	color: #5f5f5f;
}
#notificationWrapper h2 + span {
	margin: 0px 10px;
}
#notificationWrapper h2 + span:hover {
	color: #e0e0e0;
}
#notificationWrapper > div:first-child {
	display: flex;
	background-color: #f3f3f3;
	color: #5f5f5f;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0px 1px 5px #909090;
}
/* Notificationwrapper Content */
#notificationList {
	margin: 10px;
}
#navigation #notificationList img {
	margin: 0px;
	margin-right: 10px;
}
#notificationList > div:nth-child(odd) {
	font-size: 0.8em;
	background-color: #f2f2f2;
	padding: 12px 8px;
	color: #3b3b3b;
	border-bottom: 1px solid #b9b9b9;
	box-shadow: 1px 1px 3px #a5a5a5;
	position: relative;
	margin: 3px 0;
}

#notificationList > div:nth-child(even) {
	font-size: 0.8em;
	background-color: #e6e6e6;
	padding: 12px 8px;
	color: #333333;
	border-bottom: 1px solid #9d9a9a;
	box-shadow: 1px 1px 3px #a5a5a5;
	position: relative;
	margin: 5px 0;
}

/* Actual text */
#notificationList > div > div.hidden {
	display: none;
	opacity: 0;
}
#notificationList > div > div {
	padding: 14px 10px;
	display: flex;
	margin-top: 6px;
	align-items: center;
}
#notificationList > div > div:last-child {
	padding: 0;
	justify-content: space-around;
	flex-direction: column;
}

/* time */
.notificationTime {
	position: absolute;
	top: 0;
	right: 0;
	margin: 6px 11px;
	color: #848484;
}

/* Show more btn */
#notificationList button {
	border: none;
	background-color: inherit;
	margin: 0px;
	padding: 0px;
	outline: none;
	color: #6b6b6b;
	cursor: pointer;
	flex: 1;
	text-align: right;
}
.mdi-30px.mdi {
	font-size: 30px;
}


/* SHOW MORE INFO */
#notificationList .showMoreInfoDiv {
	margin: 5px auto;
}
#notificationList .infoWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 15px;
	margin-bottom: 15px;
}
#notificationList .infoWrapper > div {
	display: flex;
	width: 50%;
	flex-direction: column;
	margin: 4px 0px;
}
#notificationList .infoWrapper > div > span:first-child {
	color: #666;
	font-size: 0.9em;
}



/* Buttons */
#notificationList button.gotoBtn:first-child {
	color: #636363;
	font-size: 1.1em;
	margin: 0px 20px;
	padding: 4px 20px 6px;
}

#notificationList button.gotoBtn:last-child {
	color: #f0f0f0;
	background-color: #6c0ccc;
	padding: 6px 14px 7px;
	margin: 0px 20px;
	box-shadow: 1px 1px 3px #747474;
}

/* Button Hovers */
#notificationList button.gotoBtn:first-child:hover{
	color: #393939;
	background: #ececec;
}
#notificationList button.gotoBtn:last-child:hover{
	background-color: #8b30e7;
}

#navigation {
	background-color: #232323;
	/*position: absolute;*/
	top: 0px;
	width: 100%;
	height: 60px;
}
#navigation img {
	margin-top: 8px;
	margin-left: 12px;
	width: 40px;
	height: 40px;
	border: 1px solid #232323; /*Behöver vara där för att logga inte ska bli avskuren i botten*/
	border-radius: 100px;
}
#menuToggle {
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}
/* Lägger till så man kan dölja den med hidden! Display: block är onödigt btw*/
#menuToggle.hidden {
	display: none;
}
#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	/* hide this */
	z-index: 2;
	/* and place it over the hamburger */
	-webkit-touch-callout: none;
}

/*HAMBURGARMENU*/

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #fff;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}
/*Hamburger to crossmark*/

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #fff;
}
/*But let's hide the middle one.*/

#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}
/*Last one should go the other direction*/

#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}
/* And let's slide it in from the right*/

#menuToggle input:checked ~ ul {
	transform: none;
}
#menu {
	display: ;
	position: absolute;
	width: 250px;
	margin: -110px 0 0 90px;
	right: -30px;
	padding: 40px;
	padding-top: 125px;
	background: rgba(35, 35, 35, 1); /*ändra opacity på menu när det finns bakgrund*/
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}
#menu li {
	color: white;
	padding: 15px 0;
	font-size: 1em;
	border-bottom: 1px solid white;
	letter-spacing: 1px;
	margin-left: -6px;
}
#menu li:hover {
	transition: 0.3s;
	color: #6C0CCC;
}
.active {
	font-weight: bold;
	font-size: 1.1em;
}

#ingaNotifikationer {
	display: block;
	text-align: center;
	margin: 60px 0px;
	font-family: 'Montserrat', sans-serif;
}
/* #ingaNotifikationer.hidden {
	display: none;
	opacity: 0;
} */
@media all and (min-width: 876px) {
	#menuToggle {
		display: none
	}

	/* Notifications MEDIQ QUERIES */
	#notificationWrapper {
		width: 40%;
		max-width: 320px;
		height: auto;
		position: absolute;
		margin: 80px 20px 0;
		box-shadow: 1px 3px 4px #8c8c8c;
	}
	#notificationWrapper h2 {
		font-size: 1.3em;
	}
}
