html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

a {
  color: #232323;
  text-decoration: none;
}

p, a {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

main>h2 {
  margin: 1rem 0 0 0.5rem;
}

.user {
  background-color: #fff;
  margin: 1rem;
  /* padding: 1rem; */
  width: 95%;
  border-radius: 5px;
  position: relative;
  /* min-width: 240px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.image-background {
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: 100px;
  display: flex;
  justify-content: center;
  /* position: absolute; */
}

#user-img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  /* left: 50%; */
  bottom: -30px;
  /* transform: translate(-50%, 0); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

#tellMeMore {
  cursor: pointer;
  outline: none;
  /* display: inline-block; */
  border: none;
  margin: 1rem;
  width: 200px;
  border-radius: 5px;
  padding: 9px 20px;
  font-family: 'Questrial', sans-serif;
  color: #fff;
  background-color: #6C0CCC;
}

.user-story{
  display: none;
}
.user-story>*{
  display: block;
  max-width: 100%;
}
.user-story>label{
  margin: 1.5rem 0 0.3rem 0;
}
.user-story>*:nth-child(even){
  background-color: #f4f4f4;
  border-radius: 5px;
  border: none;
  min-height: 2rem;
}

.photo-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#user-name {
  margin-top: 2rem;
  width: 90%;
  text-transform: capitalize;
  text-align: center;
  padding: 1rem;
  border-bottom: solid 2px #606060;
  margin-bottom: 1rem
}

.user-info {
  width: 90%;
  height: auto;
  position: relative;
}

.white-cover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), #fff, #fff, #fff);
}

.white-cover.transform {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  /* height: auto !important; */
  opacity: 0;
}

#user-info-more, #user-info-more * {
  background-color: rgba(225, 225, 227, 0);
}

#user-info-more {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  text-decoration: none;
  color: #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -8rem;
}

#user-info-more.move {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-top: 1rem;
}

.change {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.meetup-count {
  width: 95%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  /* background-color: #fff; */
  /* padding: 1rem; */
  flex-wrap: wrap;
  border-radius: 5px;
}

.meetup-count>.attending, .meetup-count>.created {
  margin-top: 1rem;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.meetup-count>div:first-child {
  /* margin-right: 2rem; */
  /* margin-bottom: 2rem; */
}
.person{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .person>#logo-person{
  font-size: 3rem;
  margin: 0.5rem;
} */

.attending>h4, .created>h4 {
  /* margin-top: 1rem; */
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: green;
}

.user-meetups-container {
  /* min-width: 240px; */
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.single-meetup {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  /* padding: 1rem; */
  position: relative;
}

.user-meetup-text {
  width: auto;
}

.user-meetup-text>div {
  margin-top: 0.5rem;
}

.user-meetup-text>div>p:first-child {
  color: #606060;
  font-size: 0.8rem;
}

.user-image>img {
  width: 50px;
}

.change-status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.user-image, .user-meetup-text, .change-status {
  margin: 1rem;
}

.hidden-nav {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.hidden-nav>nav {
  padding: 2rem 1rem 1rem 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.go-too {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f4f4f4;
  width: 80%;
}

.go-too:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: #6C0CCC;
  font-size: 1.2rem;
  font-weight: bold;
}

.remove-meetup {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  width: 80%;
}

.remove-meetup:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: #FE2E2E;
  font-size: 1.2rem;
  font-weight: bold;
}

.hidden-nav>nav>a:last-child {
  align-self: flex-end;
  font-size: 1rem;
}

.hidden-nav.show {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  opacity: 1;
}

.gotoo-remove-meetup {
  width: auto;
  height: auto;
  /* align-self: flex-end; */
}

@media screen and (max-width: 415px) {
  .meetup-count {
    padding: auto;
    flex-direction: column;
    align-items: center;
  }
  .meetup-count>* {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 450px) {
  #user-info-more {
    margin-top: -5rem;
  }
}

@media screen and (min-width: 650px) {
  #user-info-more {
    margin-top: -1rem;
  }
  .white-cover {
    background: linear-gradient(rgba(255, 255, 255, 0), #fff, #fff);
  }
  .user {
    width: 60%;
  }
  .user-meetups-container {
    width: 60%;
  }
  .meetup-count {
    /* padding: 1rem 7rem; */
    width: 60%;
  }
}
