html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

p, a {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

main>h2 {
  margin: 1rem 0 0 0.5rem;
}

.user {
  background-color: #fff;
  margin: 1rem;
  /* padding: 1rem; */
  width: 95%;
  border-radius: 5px;
  position: relative;
  /* min-width: 240px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* height: auto;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; */
}

.image-background {
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: 100px;
  display: flex;
  justify-content: center;
  /* position: absolute; */
}

#user-img {
  width: 100px;
  border-radius: 50%;
  position: relative;
  /* left: 50%; */
  bottom: -30px;
  /* transform: translate(-50%, 0); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: 1rem; */
}

#tellMeMore {
  cursor: pointer;
  outline: none;
  /* display: inline-block; */
  border: none;
  margin: 0.5rem 1rem 1rem 1rem;
  width: 200px;
  border-radius: 5px;
  padding: 9px 20px;
  font-family: 'Questrial', sans-serif;
  color: #fff;
  background-color: #6C0CCC;
/*
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; */
}

#tellMeMore:hover{
  background-color: #50049B;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}


#save{
  display: none;
  cursor: pointer;
  outline: none;
  /* display: inline-block; */
  border: none;
  margin: 0.5rem 1rem 1rem 1rem;
  width: 200px;
  border-radius: 5px;
  padding: 9px 20px;
  font-family: 'Questrial', sans-serif;
  color: #fff;
  background-color: #6C0CCC;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#save:hover{
  background-color: #50049B;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}



#tellMeMore.abort {
  cursor: pointer;
  outline: none;
  /* display: inline-block; */
  border: none;
  margin: 1.5rem 1rem 0 1rem;
  width: 200px;
  border-radius: 5px;
  padding: 9px 20px;
  font-family: 'Questrial', sans-serif;
  color: #232332;
  background-color: #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#tellMeMore.abort:hover{
    background-color: #efefef;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#user-description {
  /* position: relative; */
  display: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.userDefaultText {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-story {
  visibility: hidden;
  height: 1px;
  position: absolute;
  height: 1px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; */
}

.user-story.show {
  visibility: visible;
  opacity: 1;
  height: auto;
  position: relative;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; */
}

.section {
  width: 90%;
}

.childColor label, .childInput label {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #232323;
}

.bigLabel {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #232323;
  margin-bottom: 0.3rem;
}

#nameOnUser {
  padding: 5px;
  background-color: #efefef;
  width: 100%;
  /* max-width: 400px; */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border: none;
  border-radius: 5px;
  /* border: none; */
  min-height: 2rem;
  margin-bottom: 1.5rem;
}

.parentInput {
  display: flex;
  width: 100%;
  max-width: 300px;
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
}

.childInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}

.childRadio {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}

.childColor {
  /* padding: 5px 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}

#yourStory {
  position: relative;
  width: 100%;
  resize: none;
  border: none;
  /* max-width: 500px; */
  padding: 5px;
  background-color: #efefef;
  border-radius: 5px;
}

.childRadio>input {
  color: #eee;
}

/* .user-story>* {

}

.user-story>label {
  margin: 1.5rem 0 0.3rem 0;
}

.user-story>*:nth-child(even) {
  background-color: #f4f4f4;
  border-radius: 5px;
  border: none;
  min-height: 2rem;
} */

.photo-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.user-presentation-container{
  margin-top: 2rem;
  width: 90%;
  text-transform: capitalize;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: solid 2px #606060;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-name {
  margin-top: 2rem;
  width: 90%;
  text-transform: capitalize;
  text-align: center;
  padding: 1rem 1rem 0 1rem;

  /* border-bottom: solid 2px #606060;
  margin-bottom: 1rem */
}
#genderInfo{
  display: none;
  margin-top: 0.5rem;
  font-style: italic;
  font-size: 0.8rem;
  width: 90%;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 0.5rem;
  /* border-bottom: solid 2px #606060;
  margin-bottom: 1rem */
}

.user-info {
  width: 90%;
  height: auto;
  position: relative;
}

/* .white-cover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), #fff, #fff, #fff);
} */

/* .white-cover.transform {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
} */

#user-info-more, #user-info-more * {
  background-color: rgba(225, 225, 227, 0);
}

#user-info-more {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  text-decoration: none;
  color: #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -8rem;
}

#user-info-more.move {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-top: 1rem;
}

.change {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.meetup-count {
  width: 95%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.meetup-count>.attending, .meetup-count>.created {
  margin-top: 1rem;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.meetup-count>div:first-child {
  /* margin-right: 2rem; */
  /* margin-bottom: 2rem; */
}

.attending>h4, .created>h4 {
  /* margin-top: 1rem; */
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: green;
}

.meetups-container {
  /* min-width: 240px; */
  margin: 2rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.created-meetups-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 4rem;
}

.created-meetups-container>h2 {
  margin-top: 2rem;
  align-self: center;
}

.joind-meetups-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 4rem;
}

.joind-meetups-container>h2 {
  margin-top: 2rem;
  align-self: center;
}

.single-meetup {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 320px;
  max-width: 400px;
  /* flex-basis: 30%; */
}
.create-single-meetup {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 320px;
  max-width: 400px;
  /* flex-basis: 30%; */
}
.join-single-meetup {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 320px;
  max-width: 400px;
  /* flex-basis: 30%; */
}
.event-backgound {
  background-color: #C05454;
  display: flex;
  border-radius: 5px 5px 0 0;
  height: auto;
  color: #fff;
}

.event-backgound-joind {
  background-color: #333333;
  display: flex;
  border-radius: 5px 5px 0 0;
  height: auto;
  color: #fff;
}

#meetup-img {
  margin: 1rem 0.8rem 1rem 1rem;
  width: 70px;
  border-radius: 50%;
  position: relative;
  top: -0.5rem;
  transform: translate(0, -50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.meetup-holder {
  position: relative;
  margin: 1.5rem 0 0 0;
  width: 100%;
}

.meetup-min {
  /* position: relative; */
  /* left: -4rem; */
  margin-left: 2rem;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.meetup-name {
  margin-left: 2rem;
  /* padding-right: 3rem; */
  color: #fff;
  /* position: relative; */
  /* left: -4rem; */
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 1rem;
  width: 80%;
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide {
  visibility: hidden;
  position: absolute;
  height: auto;
  width: 90%;
  min-width: 310px;
  left: 50%;
  transform: translate(-50%, -80%);
  border-radius: 5px;
  padding: 0.8rem;
  top: -1rem;
  /* WORD WRAP I TOOLTIP*/
  /* -ms-word-break: break-all; */
  /* word-break: break-all; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/*TOOLTIP AROW DOWN*/

.hide::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: #232323 transparent transparent transparent;
}

.meetup-name:hover+.hide, .hide:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  visibility: visible;
  background-color: #232323;
  top: -80%;
  transform: translate(-50%, -100%);
}

.event-holder, .adress-holder {
  position: relative;
  width: 100%;
}

.event-holder>.main-text, .adress-holder>.main-text {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide-small {
  color: #fff;
  visibility: hidden;
  position: absolute;
  height: auto;
  width: 90%;
  min-width: 300px;
  left: 30%;
  transform: translate(-50%, -100%);
  border-radius: 5px;
  padding: 0.8rem;
  top: 1rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/*TOOLTIP AROW DOWN*/

.hide-small::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: #606060 transparent transparent transparent;
}

.event-holder>.main-text:hover+.hide-small, .hide-small:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  visibility: visible;
  background-color: #606060;
  top: -20%;
  transform: translate(-50%, -100%);
}

.adress-holder>.main-text:hover+.hide-small, .hide-small:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  visibility: visible;
  background-color: #606060;
  top: -20%;
  transform: translate(-50%, -100%);
}

.hide-small.show {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  visibility: visible;
  background-color: #606060;
  top: -20%;
  transform: translate(-50%, -100%);
}

/* .meetup-name:hover + .hide, .hide:hover{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;


  visibility: visible;
  background-color: #232323;
  top: - 80%;
  transform: translate(-50%, -100%);
} */

.meetup-creator {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 1rem;
  margin-left: 6rem;
  padding-right: 1rem;
}

.text-holder {
  display: flex;
  justify-content: flex-start;
}

.user-meetup-text {
  width: 65%;
  /* max-width: 280px;  Jag vill ha den här men det fungerade inte så bra med java scripten*/
  max-width: 220px;
  min-width: 220px;
  margin: 1rem 0 0.5rem 0;
}

.user-meetup-text>div {
  margin-bottom: 1rem;
}

.min-text {
  font-size: 0.7rem;
  color: #606060;
  text-transform: capitalize;
}

.main-text {
  font-size: 1rem;
  text-transform: capitalize;
}

.small-main-text {
  font-size: 1rem;
  text-transform: capitalize;
}

.main-allways-hidden {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  height: 1px;
}

.change-status {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 1rem 1rem 1rem;
}

.change-status>a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: purple;
  font-size: 1rem;
}

.change-status>a:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
  font-size: 1.1rem;
}

/* @media screen and (max-width: 415px) {
  /* .meetup-count {
    padding: auto;
    flex-direction: column;
    align-items: center;
  }
  .meetup-count>* {
    justify-content: center;
    align-items: center;
  }
}
  @media screen and (min-width: 450px) {
    #user-info-more {
      margin-top: -5rem;
    }
  } */

@media all and (min-width: 800px) {
  #user-info-more {
    margin-top: -1rem;
  }
  /* .white-cover {
      background: linear-gradient(rgba(255, 255, 255, 0), #fff, #fff);
    } */
  .buttonContainer {
    flex-direction: row;
    align-items: center;
  }
  #tellMeMore.abort {
    margin: 1rem 2rem 1rem 1rem;
  }
  #tellMeMore {
    margin: 1rem;
  }
  #save{
    margin: 1rem;
  }
  .user {
    width: 90%;
  }
  .section {
    width: 60%;
  }
  .meetups-container {
    width: 90%;
  }
  .meetup-count {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 60%;
  }
  .meetup-count>* {
    width: 45%;
    max-width: 400px;
  }
  .meetup-count>.created {
    margin-right: 1rem;
  }
  .created-meetups-container {
    margin: 0;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .created-meetups-container>h2 {
    padding-left: 0.5rem;
    flex-basis: 100%;
  }
  .joind-meetups-container {
    margin: 0;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .joind-meetups-container>h2 {
    padding-left: 0.5rem;
    flex-basis: 100%;
  }
  .single-meetup {
    width: 100%;
    max-width: 500px;
    flex-basis: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* margin-right: 1rem; */
    /* width: 47%;*/
    /* min-width: 280px; */
  }
  .create-single-meetup {
    width: 100%;
    max-width: 500px;
    flex-basis: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* margin-right: 1rem; */
    /* width: 47%;*/
    /* min-width: 280px; */
  }
  .join-single-meetup {
    width: 100%;
    max-width: 500px;
    flex-basis: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* margin-right: 1rem; */
    /* width: 47%;*/
    /* min-width: 280px; */
  }
}

/* @media all and (max-width: 1250px) {
  .single-meetup {
     flex-basis: 40%;
  }
  .created-meetups-container {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;


  }
  .created-meetups-container>h2 {
    flex-basis: 100%;
  }
  .joind-meetups-container {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  .joind-meetups-container>h2 {
    flex-basis: 100%;
  }
  .single-meetup {
    width: 100%;
    max-width: 500px;
    flex-basis: 30%;
    margin-right: 1rem;

  }
} */
