body, html {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 3em;
  margin: 0;
  padding: 20px;
  background-color: #222;
  color: #fff;
}

p {
  margin: 20px;
  padding: 5px;
  background-color: #444;
  color: #eee;
}
